<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/tickets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>FLIGHT LIST</title>
</head>
<body>
  <nav>
    <a href="/" class = 'top'>HOME</a>
    <a href="/flights/new" class = 'top'>ADD FLIGHT</a>
    <a href="/flights" class = 'top'>ALL FLIGHTS</a>
</nav>
<main>
  <h1>FLIGHT DETAILS</h1>
  <section id ='show-page'>
      <div>Airline: <%= flight.airline %></div>
      <div>Airport: <%= flight.airport %></div>
      <div>Flight Number: <%= flight.flightNo %></div>
      <div>Departs: <%= flight.departs %></div>
      <div>Tickets: </div>
        
        <form id="add-per-to-ticket" action="/flights/<%= flight._id%>/tickets" method="POST">
          <select name="ticketId"> 
            <option value = ''>Please select ticket</option>
              <% tickets.forEach(function(t) { %>
                <option><%= t.tickets %></option>
              <% }) %>
          </select>
          <button type="submit" class = 'button'>Add to Flight</button>
        </form>


      <br><br><h1>DESTINATIONS</h1>
      <form id ='add-destinations-form' method ='POST' action='/flights/<%= flight._id %>/destinations'>

          <label>Airport
              <select name = 'airport'>
                  <option value = ''>Please choose an airport</option>
                  <option value = 'AUS'>AUS</option>
                  <option value = 'DFW'>DFW</option>
                  <option value = 'DEN'>DEN</option>
                  <option value = 'LAX'>LAX</option>
                  <option value = 'SAN'>SAN</option>
              </select>
          </label> 
          <label>Arrival
              <input type="datetime-local" min = '2021-12-01T00:00'>
          </label>

          <br><br>
          <input type="submit" value="Add Destination" class = 'button'>
      </form>

      <br><br>
<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>AIRPORT</th>
        <th>ARRIVAL DATE</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Added</h5>
<% } %>
      <a href = '/flights/<%= flight._id %>/tickets/new'>New Ticket</a>
  </section>
  <%- include('../partials/footer') %>